.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.page {
	background-color: rgba(18, 18, 22, 0.745);
}

.page__container {
	margin: 0 auto;
}

.page__walls {
	position: relative;
}

.page__walls img {
	display: block;
	max-width: 100%;
}

.car__body:hover {
	transform: translateY(-200px)
}

.car__body {
	display: inline-block;
	position: absolute;
	width: 220px;
	height: 220px;
	left: 600px;
	top: 550px;
	transition-duration: 3s;
}

.car__logo {
	position: absolute;
	width: 200px;
	height: 200px;
	bottom: 120px;
	left: 200px;
}

.car__logo img {
	animation-name: logo;
	animation-duration: 5s;
	transform: rotate(360deg);
	animation-iteration-count: infinite;

}

@keyframes logo {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(650deg);
	}
}

.car__text {

	display: inline-block;
	position: absolute;
	color: white;
	top: 0;
	left: 20px;
	font-size: 50px;
	font-weight: 700;
}

.car__text {
	animation: title 3s ease 1s forwards;
	line-height: 1.5;
	transform: translate(-50px, 0px);
	opacity: 0;
	color: red;
}

@keyframes title {
	0% {}

	100% {
		transform: translate(0px, 0%);
		opacity: 1;
	}
}

.car__text2 {
	display: inline-block;
	position: absolute;
	color: white;
	top: 140px;
	left: 20px;
	font-size: 50px;
	font-weight: 700;
}

.car__mpower {
	display: block;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 210px;
	left: 100px;
	opacity: 0;
	visibility: hidden;
}

.car__text2:hover~.car__mpower {
	opacity: 1;
	visibility: visible;
}