@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@font-face {
	font-family:"Larsseit-Regular" ;
	src: url(../fonts/Larsseit-Regular.woff2) format("woff2"), url(../fonts/Larsseit-Regular.woff) format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family:"Larsseit-Medium";
	src: url(../fonts/Larsseit-Medium.woff2) format("woff2"),url(../fonts/Larsseit-Medium.woff) format(woff);
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family:"Larsseit-Bold";
	src: url(../fonts/Larsseit-Bold.woff2) format(woff2),url(../fonts/Larsseit-Bold.woff) format(woff);
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
.heder-main{
	font-family:"Larsseit-Medium";
	color: red;
	font-weight: 500;
}
.fonts-lato{
	font-family:"Lato","sans-sarif";
	color: rgb(226, 150, 150);
	font-weight: 900;
}
.fonts-roboto-bold{
	font-family:"Roboto","sans-sarif";
	color: blue;
	font-weight: 700;
}



